.cm-s-dlx-light.CodeMirror {background: white; color: black;}
.cm-s-dlx-light span.cm-comment {color: dimgray; font-style: italic;}
.cm-s-dlx-light span.cm-command {color: crimson;}
.cm-s-dlx-light span.cm-register {color: orangered;}
.cm-s-dlx-light span.cm-immediate {color: limegreen;}
.cm-s-dlx-light span.cm-marker {color: dodgerblue;}
.cm-s-dlx-light span.cm-address {color: blueviolet;}
